<!DOCTYPE html>
<html>

<!--Enter your code here-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registration Form</title>
</head>
<body>
    <div class="main">
		<h1>Registration Form</h1>
        <form action="/display.php">
    </div>
</body>
</html>
